{% extends "base.html" %}
{% block body %}
<div class="container" style="padding: 2%;">
	<div class="row" style="text-align:center; padding: 2%">
		<img src="/static/icon.png" style="width:15%; height:15%; padding-bottom:2%"><br>
		<a href="/profile" class="nav-bar-links">profile</a>
		<a href="/friends" class="nav-bar-links">friends</a>
		<a href="/logout" class="nav-bar-links">logout</a>
	</div>
	<div class="row" style="text-align:center;">
			<h2>finished <a id="add_finished_book" name="add" href="#add_finished">+</a></h2>
					<div id="add_finished" style="text-align: center">
						<h4>finished a new book?</h4>
						<form action="/add/" method="POST">
							{% if error %}
								<p style="color: red;"> {{ error }} </p>
							{% endif %}
							<input type="text" placeholder="title" name="title" id="title"><br>
							<input type="text" placeholder="author" name="author" id="author"><br>
							<input type="hidden" name="status" value="FIN">
							<input class="button-primary" type="submit" value="add to collection">
							{% csrf_token %}
						</form>
					</div>
			<div class="row">
					<p>{% for book in books %}
					{% if book.reading_status == "FIN" %}
					<div class="clickable-row" bookNum={{ book.id }}>{{ book.title }}</h3>, {{ book.author }}</div>
					<div class="bookinfo-{{ book.id }}" style="display:none">
						{% if book.quotes.all %}
						{% for quote in book.quotes.all %}
						<p style="font-size:9.5px;"> 
							{{ quote.text }} {% if quote.page_number %} - pg{{ quote.page_number }}.{% endif %}
						{% endfor %}
						</p>
						<p class="small_links"><a name="add_quote" href="#add_quote" style="padding-right:10px; text-decoration:none;">add quote</a> <a href="/delete/book/{{ book.id }}" style="text-decoration:none;">{% endif %}delete book</a></p> 
					</div>
					{% endif %}
					{% endfor %}</p>
				</div>
		</div>
	</div>

	<div class="row" style="text-align:center;">
			<h2>unfinished <a id="add_wishlist_book" name="add" href="#add_wishlist">+</a></h2>
					<div id="add_wishlist" style="text-align: center;">
						<h4>want to read a new book?</h4>
						<form action="/add/" method="POST">
							{% if error %}
								<p style="color: red;"> {{ error }} </p>
							{% endif %}
							<input type="text" placeholder="title" name="title" id="title"><br>
							<input type="text" placeholder="author" name="author" id="author"><br>
							<input type="hidden" name="status" value="WNT">
							<input class="button-primary" type="submit" value="add to collection">
							{% csrf_token %}
						</form>
					</div>
			<div class="row">
					<p>{% for book in books %}
					{% if book.reading_status == "WNT" %}
					<div class="clickable-row" bookNum={{ book.id }}>{{ book.title }}</h3>, {{ book.author }}</div>
					<div class="bookinfo-{{ book.id }}" style="display:none">
						<p class="small_links"><a href="/delete/book/{{ book.id }}" style="text-decoration:none;">delete book</a></p> 
					</div>
					{% endif %}
					{% endfor %}</p>
				</div>
	</div>
</div>

<script type="text/javascript">
	$("#add_finished_book").leanModal();
	$("#add_wishlist_book").leanModal();

  	jQuery(document).ready(function($) {
      $(".clickable-row").click(function(e){
        e.preventDefault();
        $('.bookinfo-'+$(this).attr('bookNum')).toggle();
    });
  });
</script>
{% endblock %}